html{
	background-color: #FFFFFF;
}
.picHeader {
  display: flex;
  overflow-x: auto;
}
.picHeader > 	div {
  flex-shrink: 100;
  width: 300px;
  height: 300px;	
}

img {
	border: 1px solid #000;
    border-radius: 4px;
}

.title { 
background-color: #FF0000;
	height: 100px;	
	padding-top: 10px;
	padding-bottom: 40px;
	font-size: 32px;
}
.footnote {
	font-family: 'Oswald', Verdana, Arial, sans-serif;
	font-size: 8px;
}
h1 {
	color: white;
	font-family: 'Patrick Hand', cursive;
	text-align: center;
}
h3 {
	color: black;
	font-family: 'Patrick Hand', cursive;
	text-align: left;
	margin-left: 10px;
}
p{
	font-family: 'Oswald', Verdana, Arial, sans-serif;
	color: #000000;
	text-align: left;
	margin: 10px;
	padding-right: 100px;
}

#nav {
	font-family: 'Patrick Hand', cursive;
	font-size: 24px;
	padding: 1px;
	margin: 1px;
}

li {
	display: inline;
	padding: 5px;
}
a:link {
color: red;
font-weight: bold;
font-size: 1em;
text-decoration: none;
}
a:visited {
color: red;
text-decoration: none;
}
a:hover {
color: white;
background-color: red;
}
a:active {
color: red;
text-decoration: underline;
}

.color   {
   background-color: #ccccb3;
}

.contentContainer    {
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 10px 10px 5px #283811;
}

